body {
  margin: 0;
  font: 16px/23px 'Open Sans', sans-serif;
  background: #fff;
  color: #48555B;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: underline;
  color: #48555B;
}

a:hover {
  text-decoration: none;
  color: #00A4E5;
}

.wrapper {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.header {
  /* pass */
}

.top-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: url(../images/bg.png) no-repeat;
  background-size: cover;
  background-color: #D8D8D8;
  border: 1px solid #979797;
}

.white-logo {
  display: block;
  background-image: url(../images/projeco-logo.png);
  width: 103px;
  height: 23px;
  font-size: 0;
  line-height: 0;
  margin-top: 52px;
}

.white-logo-link {
  display: block;
  height: 100%;
}

.top-header-content {
  /* pass */
}

.main-heading {
  color: #fff;
  min-width: 625px;
  margin: 0;
  padding: 4px 4px;
  text-align: center;
  font: 60px/64px 'Bebas Neue', cursive;
  letter-spacing: 6px;
}

.head-span {
  display: block;
  min-width: 386px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  text-align: center;
  color: #fff;
}

.scroll-down-link {
  min-width: 124px;
  font-size: 11px;
  line-height: 16px;
  font-weight: 600;
  letter-spacing: 4px;
  margin-bottom: 52px;
  color: #fff;
  text-decoration: none;
}

.nav-header {
  width: 1440px;
  margin: 0 auto;
  border-top: 1px solid #E6E6E6;
  border-bottom: 1px solid #E6E6E6;
}

.nav {
  display: flex;
  justify-content: space-around;
}

.black-logo {
  display: block;
  background: url(../images/projeco-logo-black.png) no-repeat;
  width: 81px;
  height: 17px;
  font-size: 0;
  line-height: 0;
  margin-top: 24px;
}

.black-logo-link {
  display: block;
  height: 100%;
}

.nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  text-transform: uppercase;
}

.nav-list.active {
  color: #00A4E5;
  font-weight: 700;
}

.nav-list-item {
  padding: 21px 21px;
  font-size: 12px;
  line-height: 16px;
  font-weight: 600;
  color: #48555B;
  transition: 0.4s ease-in-out all;
}

.nav-list-item:hover {
  font-weight: 700;
  color: #00A4E5;
  transition: 0.4s ease-in-out all;
}

.nav-item-link {
  text-decoration: none;
}

.main {
  width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.main-container {
  width: 941px;
  margin: 0 auto 116px;
  display: flex;
  flex-direction: column;
}

.story {
  min-width: 121px;
  margin: 0;
  padding: 65px 5px 10px;
  text-align: center;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  color: #48555B;
}

.line {
  width: 50px;
  margin: 0 auto 170px;
  border-bottom: 2px solid #00A4E5;
}

.story-content {
  display: flex;
  justify-content: space-between;
}

.story-text-content {
  display: flex;
  flex-direction: column;
  width: 405px;
}

.story-heading {
  margin: 0 0 40px;
  font-size: 20px;
  line-height: 27px;
  font-weight: 700;
  padding: 0 10px;
}

.konstruct {
  color: #16ACE8;
}

.story-text {
  padding: 0 10px;
  margin: 0;
  font-size: 13px;
  line-height: 23px;
}

.img-content {
  position: relative;
}

.list-img {
  margin: 34px 0 0;
  padding: 0;
  list-style: none;
  display: flex;
  text-transform: uppercase;
  gap: 20px;
}

.list-item-img {
  /* pass */
}

.we-plan {
  position: absolute;
  font-size: 24px;
  line-height: 29px;
  font-weight: 800;
  color: #fff;
  top: 43px;
  left: 14px;
}

.we-manage {
  position: absolute;
  font-size: 24px;
  line-height: 29px;
  font-weight: 800;
  color: #fff;
  top: 43px;
  left: 174px;
}

.we-build {
  position: absolute;
  font-size: 24px;
  line-height: 29px;
  font-weight: 800;
  color: #fff;
  top: 43px;
  right: 52px;
}

.list-link-img {
  width: 140px;
  height: 224px;
}

.list-link-img {
  text-decoration: none;
}

/* second part */

.second-main-container{
  width: 941px;
  margin: 0 auto;
  display: flex;
}

.capabilities-line{
  display: flex;
  flex-direction: column;
  margin-right: 158px;
  margin-bottom: 80px;
}

.capabilities{
  margin: 0;
  padding: 0 0 14px;
  min-width: 198px;
  font-size: 18px;
  line-height: 25px;
  font-weight: 700;
}

.second-line{
  width: 50px;
  border-bottom: 2px solid #00A4E5;
}

.capabilities-text{
  margin: 0;
  font-size: 11px;
  line-height: 19px;
  padding: 0 52px 0 0;
}

.btn{
  background: #00A4E5;
  display: inline-block;
  vertical-align: middle;
  min-width: 150px;
  height: 40px;
  padding: 11px 27px;
  color: #fff;
  font-size: 13px;
  line-height: 18px;
  font-weight: 700;
  border: none;
}

.btn:hover{
  text-decoration: underline;
  cursor: pointer;
}

.section{
  width: 941px;
  margin: 0 auto 115px;
  display: flex;
}

.capabilities-list{
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 28px;
}

.capabilities-item{
  border: 1px solid #E6E6E6;
  padding: 43px 22px 40px;
}

.img{
  /* pass */
}

.capabilities-heading{
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
}

.capabilities-text{
  font-size: 13px;
  line-height: 23px;
}
